:root {
  --font-family: helvetica, arial, sans-serif;
  --font-size: 100%;
  --light-theme-main-text-color: #222222;
  --light-theme-main-background-color: #fefefe;
  --light-theme-nav-text-color: #fefefe;
  --light-theme-nav-background-color: #222222;

  --light-gray-color: #dedede;
  
  --light-gray-color: #8b8b8b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0
}

body {
  padding: 0;
  font-size: 1.3rem;
}

main {
  max-width: 70ch;
  margin: 0 auto;
  padding: 1rem 1rem 4rem;
  /* min-height: 100vh; */
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--light-theme-nav-background-color, #222);
  padding: 1rem 0;
}

nav h1 {
  color: var(--light-theme-nav-text-color, #fefefe);
  font-size: 2.25rem;
  padding: 0.25rem 0;
  margin: 0 2rem 0 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0.25rem 0;
}

nav ul li {
  margin-right: 0.5rem;
  font-size: 1.3rem
}

nav ul li::after {
  content: " :: ";
  color: var(--light-theme-nav-text-color, #fefefe);
}

nav ul li:last-of-type::after {
  content: "";
  color: var(--light-theme-nav-text-color, #fefefe);
}

nav ul li a {
  color: var(--light-theme-nav-text-color, #fefefe);
}

nav h1 a {
  text-decoration: none;
  color: var(--light-theme-nav-text-color, #fefefe);
}

nav h1 a:hover {
  text-decoration: none;  
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav ul li a:hover {
  color: var(--light-theme-nav-text-color, #fefefe);
}

h1,
h2 {
  margin-bottom: 1rem;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0 2rem 0;
  padding: 6px;
  background-color: var(--light-gray-color, #deddda);
  border-radius: 6px;
}

figcaption {
  text-align: center;
  padding: 5px 0;
  font-size: 1rem;
  font-style: italic;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

footer {
  display:flex;
  justify-content:center; 
}

footer div {
  font-size: 0.95rem;
  padding: 1rem;
  border-top: 1px solid var(--mid-gray-color, #8b8b8b);
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.1rem;
  }
}